name: Release
on:
  push:
    branches:
      - master
jobs:
  release-test:
    name: Release (Test)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Download artifact smws codes
        uses: dsaltares/fetch-gh-release-asset@0.06
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          file: "data.json"
          repo: "elliottback/SMWS_Codes"
          target: "./data.json"

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2-beta
        with:
          node-version: 16

      - name: Install stuff
        run: npm ci
        env:
          PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 'true'

      - name: build
        run: npm run ci

      - name: Run headful puppeteer tests
        uses: mujo-code/puppeteer-headful@v2
        with:
          args: npm test

      - name: Archive  artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dist
          if-no-files-found: error
          path: |
            dist/*.png

  release-release:
    name: Release (Release)
    runs-on: ubuntu-latest
    needs: [ "release-test" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Download artifact smws codes
        uses: dsaltares/fetch-gh-release-asset@0.06
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          file: "data.json"
          repo: "elliottback/SMWS_Codes"
          target: "./data.json"

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Release
        env:
          GH_TOKEN: ${{ secrets.PAT }}
        run: npx semantic-release@19